<div class="container container-fiuld registerd-libraries">
  <h4 class="pb-4">登録済み図書館一覧</h4>
  <div class="row">
    <% if @libraries.present? %>
      <% @libraries.each do |library| %>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="libraries-frame-inner">
            <%= link_to library do %>
              <div class="libraries-image-frame">
                <% if library.image? %>
                  <%= image_tag library.image.url, class: "libraries-image" %>
                <% else %>
                  <%= image_tag 'no-image.png', class: "libraries-image" %>
                <% end %>
              </div>
            <% end %>
            <div class="libraries-information">
              <p class="libraries-name"><%= library.name %></p>
              <p class="libraries-address"><%= library.address %></p>
              <div class="edit-button">
                <%= link_to "編集する",[:edit,library] %>
              </div>
              <div class="destroy-button">
                <%= link_to "削除する", library, method: :delete, data:{confirm:"本当に削除しますか"} %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="no-library-notice">
        <p>登録済みの図書館はありません</p>
      </div>
    <% end %>
  </div>
</div> 
