<div class="container library-show">
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <div class="library-image-box">
        <% if @library.avatar.attached? %>
          <%= image_tag @library.avatar, class: "library-image" %>
        <% else %>
          <%= image_tag 'no-image.png', class: "library-image" %>
        <% end %>
      </div>
      <div class="library-info-heading p-2 mt-2 d-flex justify-content-between">
        <h4><span class="px-4 py-2">図書館情報</span></h4>
        <div class="d-flex">
          <h6><i class="fas fa-heart like-icon px-4 mx-2"></i><span class="like-count"><%= @library.likes.count %></span></h6>
          <h6>
            <%= link_to library_comments_path(@library.id), class: 'comment-link' do %>
              <i class="fas fa-comment-dots comment-icon px-1 mx-2"></i>
            <% end %>
          </h6>
        </div>
      </div>
      <table class="library-info">
        <tbody>
          <tr>
            <th>図書館名</th>
            <td><%= @library.name %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td>
              <%= @library.address %>
              <div id="library-map"></div>
            </td>
          </tr>
          <tr>
            <th>アクセス</th>
            <td><%= @library.access %></td>
          </tr>
          <tr>
            <th>勉強スペース</th>
            <td><%= @library.study_space %></td>
          </tr>
          <tr>
            <th>コンセントの有無</th>
            <td><%= @library.electrical_outlet %></td>
          </tr>
          <tr>
            <th>詳細コメント</th>
            <td><%= @library.detail %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="user-info pt-2 mt-2 col-md-12 col-sm-12">
        <div class="user-info-heading mt-2">
          <p><span class="px-4 py-2">登録者</span></p>
        </div>
        <% if @user.present? %>
          <div class="user-icon">
            <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar, class:"host-icon" %>
            <% else %>
              <%= image_tag 'default_icon.jpg', class:"host-icon" %>
            <% end %>
          </div>
          <div class="user-name pt-2">
            <p><%= @user.name %></p>
          </div>
        <% else %>
          <p>退会しました</p>
        <% end %>
      </div>
      <% if current_user&.admin? %>
        <div class="user-info pt-2 mt-2 col-md-12 col-sm-12">
          <div class="admin-authority mt-2">
            <p><span class="px-4 py-2">管理者権限</span></p>
          </div>
          <div class="edit-button ps-3 mb-2">
            <%= link_to "編集する",[:edit,@library], class: "edit-link" %>
          </div>
          <div class="delete-button ps-3 mb-2">
            <%= link_to "削除する", @library, method: :delete, data:{confirm:"本当に削除しますか"}, class: "delete-link" %>
          </div>
        </div>
      <% end %>
      <% if current_user %>
        <div class="user-info pt-2 pb-2 mt-2 col-md-12 col-sm-12 comment-sending sub-info">
          <p class='mt-2'><span class="px-4 py-2">いいね！</span></p>
          <% if current_user.already_liked?(@library) %>
            <%= link_to library_like_path(@library),method: :delete do %>
              <i class="fas fa-heart unlike-btn"></i>
            <% end %>
          <% else %>
            <%= link_to library_likes_path(@library), class: "like-link", method: :post do %>
              <i class="far fa-heart like-btn" ></i>
            <% end %>
          <% end %>
        </div>
        <div class="user-info pt-2 mt-2 col-md-12 col-sm-12">
          <div class="sub-info mt-2">
            <p><span class="px-4 py-2">コメントをしよう！</span></p>
            <%= form_with model: [@library, @comment], method: :post do |f| %>
              <% f.label :content, 'content' %>
              <%= f.text_area :content, rows: 10, class:"col-md-10 col-sm-10", placeholder: 'コメントを記入。' %>
              <%= f.hidden_field :library_id, value: @library.id %>
              <br>
              <%= f.submit '投稿',class: 'mt-2 mb-2 btn btn-primary' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  function initMap(){
    geocoder =  new google.maps.Geocoder()
    mapInstance = new google.maps.Map(document.getElementById('library-map'), {
      center: {
        lat: <%= @library.latitude %>,
        lng: <%= @library.longitude %>
      },
      zoom: 14
    });

    pos = new google.maps.LatLng(
      <%= @library.latitude %>,
      <%= @library.longitude %>
    );
    default_marker = new google.maps.Marker({
      map: mapInstance,
      position: pos
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhwT1YDk1ivaKA538KPwaNqFgkSSuJEkc&callback=initMap" async defer></script>
